image:
  repository: hansohn/kafka-load-producer
  tag: "1.0.0"
  pullPolicy: IfNotPresent

replicas: 2

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

producer:
  bootstrapServers: "kafka-local-kafka-bootstrap.kafka.svc.cluster.local:9092"
  topic: "load-events"
  recordsPerSecond: 5000
  keys: 128
