{{- if .Values.adapter.enabled }}
---
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1beta1.custom.metrics.k8s.io
  labels:
    {{- include "prometheus.labels" . | nindent 4 }}
    app.kubernetes.io/component: adapter
spec:
  service:
    name: {{ include "prometheus.adapterName" . }}
    namespace: {{ .Release.Namespace }}
    port: {{ .Values.adapter.service.port }}
  group: custom.metrics.k8s.io
  version: v1beta1
  insecureSkipTLSVerify: true
  groupPriorityMinimum: 100
  versionPriority: 100

---
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1beta1.external.metrics.k8s.io
  labels:
    {{- include "prometheus.labels" . | nindent 4 }}
    app.kubernetes.io/component: adapter
spec:
  service:
    name: {{ include "prometheus.adapterName" . }}
    namespace: {{ .Release.Namespace }}
    port: {{ .Values.adapter.service.port }}
  group: external.metrics.k8s.io
  version: v1beta1
  insecureSkipTLSVerify: true
  groupPriorityMinimum: 100
  versionPriority: 100
{{- end }}
