apiVersion: v1
kind: ServiceAccount
metadata:
  name: flink
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flink-autoscale.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: flink
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flink-autoscale.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - configmaps
      - services
    verbs:
      - '*'
  - apiGroups:
      - apps
    resources:
      - deployments
      - deployments/finalizers
    verbs:
      - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: flink
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flink-autoscale.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: flink
subjects:
  - kind: ServiceAccount
    name: flink
    namespace: {{ .Release.Namespace }}
