{{- range $job := .Values.jobs }}
{{- if $job.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "flink-autoscale.fullname" $ }}-{{ $job.name }}-s3-credentials
  namespace: {{ $.Release.Namespace }}
  labels:
    app: {{ include "flink-autoscale.name" $ }}
    job: {{ $job.name }}
    {{- include "flink-autoscale.labels" $ | nindent 4 }}
type: Opaque
stringData:
  s3.access-key: {{ $job.s3.accessKey | default $.Values.defaults.s3.accessKey | required "S3 access key is required" }}
  s3.secret-key: {{ $job.s3.secretKey | default $.Values.defaults.s3.secretKey | required "S3 secret key is required" }}
{{- end }}
{{- end }}
