apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    app: minio
    app.kubernetes.io/name: minio
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  rootUser: {{ .Values.minio.rootUser | required "minio.rootUser is required" }}
  rootPassword: {{ .Values.minio.rootPassword | required "minio.rootPassword is required" }}
